@import '~antd/dist/antd.less';

.App {
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: radial-gradient(#0771b7 0%, #002f53 60%, #001629 100%);
  .home-create {
    margin-bottom: 16px;
    .ant-btn {
      width: 265px;
      height: 50px;
    }
  }
  .home-or {
    margin-bottom: 16px;
    color: #aaa;
  }
  .home-join {
    display: flex;
    flex-direction: row;
    .ant-input {
      width: 160px;
      margin-right: 10px;
      height: 50px;
    }
    .ant-btn {
      height: 50px;
    }
  }
  .home-main-container {
    width: 900px;
    height: 600px;
    // background-color: #eee;
    display: flex;
    flex-direction: column;
    padding: 10px;
    .home-main-header {
      height: 60px;
      border-radius: 8px;
      margin-bottom: 20px;
      background-color: aliceblue;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .home-title-roomid {
        font-size: 22px;
        margin-left: 16px;
      }
    }
    .home-main-content {
      flex: 1;
      display: flex;
      flex-direction: row;
      .room-part {
        flex: 1;
        margin-right: 20px;
        background-color: aliceblue;
        border-radius: 8px;
      }
      .message-part {
        width: 300px;
        background-color: aliceblue;
        border-radius: 8px;
      }
    }
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
